* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: rgb(119, 158, 193);
    padding-top: 100px;
}

header {
    margin-bottom: 30px;
    font-size: 40px;
}

form {
    display: flex;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
    margin-bottom: 50px;
}

form input, button {
    border-radius: 2px;
    border: none;
    outline-color: black;
    padding: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid black;
    font-size: 24px;
    
}

form button {
    background-color: aqua;
    cursor: pointer;
    border: none;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 16px;
}

table td {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}